*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 80%;
    height: 500px;
    border: 1px solid red;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.Mario{
    width: 150px;
    position: absolute;
    animation: pulo 1s infinite alternate;
}

.Cano{
    width: 90px;
    position: absolute;
    bottom: 0;
    animation: canada 3s infinite linear;
}

.Nuvens{
    width: 400px;
    position: absolute;
    top: 0;
    animation: sombra 25s infinite linear;
}

.Morte{
    width: 10px;
    position: absolute;
}

@keyframes pulo{
from{
bottom: 0;
}
to{
bottom: 140px;
}
}

@keyframes canada{
from{
right: -90px;
}
to{
right: 100%;
}
}

@keyframes sombra{
from{
    right: -400px;
}
to{
    right: 100%;
}
}